# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ugdzhydclffxwaflomex.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_eqTBcAWlley9TbPyP3v89Q_J3cDJJZL
VITE_SUPABASE_URL=https://ugdzhydclffxwaflomex.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_eqTBcAWlley9TbPyP3v89Q_J3cDJJZL
